<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Contacts::Admin::ContactsController.sortable? and ::Refinery::Contacts::Contact.count > 1 %>
